.images-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  align-items: center;
}

.images-list img {
    align-items: center;
    display: flex;
    cursor: pointer;
    min-width: 225px;
    max-width: 325px;
    min-height: 225px;
    max-height: 325px;
}

